<div class="row">

	<article class="span12 dark data-block">
						<header>
							<h2>Resend confirmation instructions</h2>
						</header>
						<section class="tab-content">
							<!-- Tab #horizontal -->
							<div id="horizontal" class="tab-pane active span6">				
									<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  									<%= devise_error_messages! %>
										<form class="form-horizontal no-margin">
											<fieldset>
												<div class="control-group">
													<%= f.label :email, :class => "control-label" %>
													<div class="controls">
														<%= f.email_field :email, :autofocus => true, :class => "input-xlarge" %>
													</div>
												</div>
																								
												<div class="form-actions">
													<%= f.submit 'Resend confirmation instructions', :class => "btn btn-alt btn-large btn-primary" %>
												</div>
												
											</fieldset>
										
									
									
									<%= render "devise/shared/links" %>						
									</form>
								<% end %>
							</div>
							<!-- /Tab #horizontal -->
						</section>
	</article>
</div>
