											<td><%= invoice.invoicenumber %></td>
										    <td>									    											    	
										    	<% 	case invoice.status
											    when "New" %> <span class="label label-inverse">New</span>
											    <% when "Paid" %> <span class="label label-success">Paid</span>
											    <% when "Unpaid" %> <span class="label label-warning">Unpaid</span>
											    <% else %> <%= invoice.status %>
											    <% end %>
										    </td>
										    <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
										    <td><%= invoice.expiredate.strftime("%d/%m/%Y") %></td>
										    <td><%= invoice.customer.fullname %></td>
										    <td><%= number_to_currency(invoice.amount, locale: current_user.lang) %></td>
										    
										    <td>
										    	
										    	
										    	<% if invoice.status == "Unpaid" || invoice.status == "New" %>
													
													<%= link_to "Set paid", invoice_path(invoice, :invoice => {:status => "Paid"}), :method => :put, :class => "btn btn-alt btn-mini btn-success", remote: true %>
													
												<% else %>
												
													<%= link_to "Set unpaid", invoice_path(invoice, :invoice => {:status => "Unpaid"}), :method => :put, :class => "btn btn-alt btn-mini btn-warning", remote: true %>

												<% end %>
												
												
												<% if invoice.invoicetype == "Quote" %>
													<%= link_to "Became invoice", invoice_path(invoice, :invoice => {:invoicetype => "Invoice"}), :method => :put, :remote => true, :class => "becameinvoice btn btn-alt btn-mini btn-inverse", :onclick => "$(this).parents('tr').appendTo('#invoices-table');" %>
												<% end %>
												
										    </td>

											<td class="toolbar">
												<div class="btn-group">
													
													<%= link_to invoice_path(invoice, format: "pdf") do %>
												  		<button class="btn btn-small" data-toggle="tooltip" title="download pdf" data-placement="bottom"><span class="icon-download-alt"></span></button>
													<% end %>
													
													
													<%= link_to invoice do %>
												  		<button class="btn btn-small" data-toggle="tooltip" title="view" data-placement="bottom"><span class="icon-eye-open"></span></button>
													<% end %>
													
													<%= link_to edit_invoice_path(invoice, :invoicetype => invoice.invoicetype) do %>
														<button class="btn btn-small" data-toggle="tooltip" title="edit" data-placement="bottom"><span class="icon-pencil"></span></button>
													<% end %>
													
													<%= link_to invoice, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
														<button class="btn btn-small" data-toggle="tooltip" title="delete" data-placement="bottom"><span class="icon-remove"></span></button>
													<% end %>	
												</div>
											</td>