



		
				<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2><%= t('Listing invoices') %></h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Invoice") do %>
								  		<span class="icon-file"></span> <%= t('Add invoice') %>
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="invoices-table">
								<thead>
									<tr>
										<th><%= t('Number') %></th>
									    <th><%= t('Status') %></th>
									    <th><%= t('Date') %></th>
									    <th><%= t('Expiredate') %></th>
									    <th><%= t('Customer') %></th>
									    <th><%= t('Amount') %></th>
									    <th><%= t('Actions') %></th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @invoices.each do |invoice| %>
										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>" id="tr_<%= invoice.id %>">
											<%= render partial: "invoice", object: invoice -%>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
				
					
					
					
					
					
					
					
					
					
					
					
					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2><%= t('Listing quotes') %></h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Quote") do %>
								  		<span class="icon-file"></span> <%= t('Add quote') %>
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="quotes-table">
								<thead>
									<tr>
										<th><%= t('Number') %></th>
									    <th><%= t('Status') %></th>
									    <th><%= t('Date') %></th>
									    <th><%= t('Expiredate') %></th>
									    <th><%= t('Customer') %></th>
									    <th><%= t('Amount') %></th>
									    <th><%= t('Actions') %></th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @quotes.each do |quote| %>
  										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>" id="tr_<%= quote.id %>">
											<%= render partial: "invoice", object: quote -%>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
					
					
				</div>
				<!-- /Grid row -->


		

		<!-- jQuery DataTable -->
		<%= javascript_include_tag "jquery.datatables.min" %>
		
		
		<script src="js/table_index.js"></script>
		
		
		

