



		
				<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2>Listing invoices</h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Invoice") do %>
								  		<span class="icon-file"></span> Add invoice
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="invoices-table">
								<thead>
									<tr>
										<th>Number</th>
									    <th>Status</th>
									    <th>Date</th>
									    <th>Expiredate</th>
									    <th>Customer</th>
									    <th>Amount</th>
									    <th>Actions</th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @invoices.each do |invoice| %>
										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>" id="tr_<%= invoice.id %>">
											<%= render partial: "invoice", object: invoice -%>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
				
					
					
					
					
					
					
					
					
					
					
					
					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2>Listing quotes</h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Quote") do %>
								  		<span class="icon-file"></span> Add quote
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="quotes-table">
								<thead>
									<tr>
										<th>Number</th>
									    <th>Status</th>
									    <th>Date</th>
									    <th>Expiredate</th>
									    <th>Customer</th>
									    <th>Amount</th>
									    <th>Actions</th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @quotes.each do |quote| %>
  										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>" id="tr_<%= quote.id %>">
											<%= render partial: "invoice", object: quote -%>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
					
					
				</div>
				<!-- /Grid row -->


		

		<!-- jQuery DataTable -->
		<%= javascript_include_tag "jquery.datatables.min" %>
		
		
		<%= javascript_include_tag "custom/table_index" %>
		
		
		

