



		
				<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2>Listing invoices</h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Invoice") do %>
								  		<span class="icon-file"></span> Add invoice
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="example-2">
								<thead>
									<tr>
										
									    <th>Status</th>
									    <th>Expiredate</th>
									    <th>Customer</th>
									    <th>Amount</th>
									    <th>Actions</th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @invoices.each do |invoice| %>
  										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>" id="tr_<%= invoice.id %>">
											
										    <td>									    											    	
										    	<% 	case invoice.status
											    when "New" %> <span class="label label-inverse">New</span>
											    <% when "Paid" %> <span class="label label-success">Paid</span>
											    <% when "Unpaid" %> <span class="label label-danger">Unpaid</span>
											    <% else %> <%= invoice.status %>
											    <% end %>
										    </td>
										    <td><%= invoice.expiredate.strftime("%d/%m/%Y") %></td>
										    <td><%= invoice.customer.fullname %></td>
										    <td><%= invoice.amount %></td>
										    
										    <td>
										    	
										    	<%= link_to "ajax", invoice, :remote => true %> 
										    	
										    	<% if invoice.status == "Unpaid" || invoice.status == "New" %>
													<button class="btn btn-alt btn-mini btn-success">Set paid</button>
													
													
													<%= link_to("Unlink your facebook account", invoice_path(invoice, :invoice => {:status => "Paid"}), :method => :put, :confirm => "Are you sure?", :remote => true) %>
													
												<% else %>
													<button class="btn btn-alt btn-mini btn-warning">Set unpaid</button>
													<%= link_to("Unlink your facebook account", invoice_path(invoice, :invoice => {:status => "Unpaid"}), :method => :put, :confirm => "Are you sure?", :remote => true) %>

												<% end %>
												
										    </td>

											<td class="toolbar">
												<div class="btn-group">
													
													<button class="btn btn-small" data-toggle="tooltip" title="download pdf" data-placement="bottom"><span class="icon-download-alt"></span></button>
													
													
													
													
													<%= link_to invoice do %>
												  		<button class="btn btn-small" data-toggle="tooltip" title="view" data-placement="bottom"><span class="icon-eye-open"></span></button>
													<% end %>
													
													<%= link_to edit_invoice_path(invoice) do %>
														<button class="btn btn-small" data-toggle="tooltip" title="edit" data-placement="bottom"><span class="icon-pencil"></span></button>
													<% end %>
													
													<%= link_to invoice, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
														<button class="btn btn-small" data-toggle="tooltip" title="delete" data-placement="bottom"><span class="icon-remove"></span></button>
													<% end %>	
												</div>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
					
					
					
					
					
					
					
					
					
					
					
					<!-- Data block -->
					<article class="span12 dark data-block">
						<header>
							<h2>Listing quotes</h2>
							<ul class="data-header-actions">
								<li>

									<%= link_to new_invoice_path(:invoicetype => "Quote") do %>
								  		<span class="icon-file"></span> Add quote
									<% end %>	

								</li>
							</ul>
						</header>
						
						<section>
							<table class="datatable table table-striped table-bordered table-hover" id="example-2">
								<thead>
									<tr>
										
									    <th>Status</th>
									    <th>Expiredate</th>
									    <th>Customer</th>
									    <th>Amount</th>
									    <th>Actions</th>
									    <th></th>
									</tr>
								</thead>
								<tbody>
									
									<% @quotes.each do |quote| %>
  										<tr class="<%= cycle("gradeA even", "gradeA odd") -%>">
											
										    <td>									    											    	
										    	<% 	case quote.status
											    when "New" %> <span class="label label-inverse">New</span>
											    <% when "Paid" %> <span class="label label-success">Paid</span>
											    <% when "Unpaid" %> <span class="label label-warning">Unpaid</span>
											    <% else %> <%= quote.status %>
											    <% end %>
										    </td>
										    <td><%= quote.expiredate.strftime("%d/%m/%Y") %></td>
										    <td><%= quote.customer.fullname %></td>
										    <td><%= quote.amount %></td>
										    
										    <td>
										    	
										    	<% if quote.status == "Unpaid" || quote.status == "New" %>
													<button class="btn btn-alt btn-mini btn-success">Set paid</button>
												<% else %>
													<button class="btn btn-alt btn-mini btn-warning">Set unpaid</button>
												<% end %>
												
													<button class="btn btn-alt btn-mini btn-inverse">Became invoice</button>
										    
										    </td>

											<td class="toolbar">
												<div class="btn-group">
													
													<button class="btn btn-small" data-toggle="tooltip" title="download pdf" data-placement="bottom"><span class="icon-download-alt"></span></button>
																										
													<%= link_to quote do %>
												  		<button class="btn btn-small" data-toggle="tooltip" title="view" data-placement="bottom"><span class="icon-eye-open"></span></button>
													<% end %>
													
													<%= link_to edit_invoice_path(quote) do %>
														<button class="btn btn-small" data-toggle="tooltip" title="edit" data-placement="bottom"><span class="icon-pencil"></span></button>
													<% end %>
													
													<%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' } do %>
														<button class="btn btn-small" data-toggle="tooltip" title="delete" data-placement="bottom"><span class="icon-remove"></span></button>
													<% end %>	
												</div>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>

						</section>

					</article>
					<!-- /Data block -->
					
					
					
				</div>
				<!-- /Grid row -->


		

		<!-- jQuery DataTable -->
		<%= javascript_include_tag "jquery.datatables.min" %>
		
		
		<%= javascript_include_tag "custom/table_index" %>
		
		
		

