<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companyname %><br />
    <%= f.text_field :companyname %>
  </div>
  
  
		  	<%= f.fields_for :taxfields do |builder| %>
		  	<%= render 'taxfield_taxfields', f: builder %>
		  <% end %>
		  	<%= link_to_add_taxfields "Add field", f, :taxfields %>

		  	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
