<%= form_for(@customer, html:{class:"form-horizontal no-margin"})  do |f| %>

 <% if @customer.errors.any? %>
    <div class="alert alert-error fade in">
    	<button data-dismiss="alert" class="close">×</button>
      <strong><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</strong>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<form class="form-horizontal no-margin">
		<fieldset>
			<div class="control-group">
				<%= f.label :fullname, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :fullname, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :phone, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :phone, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :email, :class => "control-label" %>
				<div class="controls">
					<%= f.email_field :email, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :address, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :address, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :postalcode, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :postalcode, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :city, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :city, :class => "input-xlarge" %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label :vat, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :vat, :class => "input-xlarge" %>
				</div>
			</div>
							
					
			<div class="form-actions">
				<%= f.submit t('Save changes'), :class => "btn btn-alt btn-large btn-primary" %>
				
			</div>
		</fieldset>
	</form>
<% end %>
