<div class="row">
	<article class="span12 dark data-block">
		<header>
			<h2>Customer <%= @customer.fullname %></h2>
			<ul class="data-header-actions">
				<li class=""><%= link_to 'Back', customers_path %></li>
				<li class=""><%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-alt" %></li>
			</ul>
		</header>
		
		<section>
			<p>
			  <b>Fullname:</b>
			  <%= @customer.fullname %>
			</p>
			
			<p>
			  <b>Phone:</b>
			  <%= @customer.phone %>
			</p>
			
			<p>
			  <b>Email:</b>
			  <%= @customer.email %>
			</p>
			
			<p>
			  <b>Address:</b>
			  <%= @customer.address %>
			</p>
			
			<p>
			  <b>Postalcode:</b>
			  <%= @customer.postalcode %>
			</p>
			
			<p>
			  <b>City:</b>
			  <%= @customer.city %>
			</p>
			
			<p>
			  <b>Vat:</b>
			  <%= @customer.vat %>
			</p>
			
			
			<% if @customer.invoices.count > 0 %>
				<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Invoice type</th>
												<th>Invoice number</th>
												<th>Date</th>
												<th>Expiredate</th>
												<th>Amount</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<% @customer.invoices.each do |invoice| %>
											<tr>
												<td><%= invoice.invoicetype %></td>
												<td><%= invoice.invoicenumber %></td>
												<td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
												<td><%= invoice.expiredate.strftime("%d/%m/%Y") %></td>
												<td><%= number_to_currency(invoice.amount, locale: current_user.lang) %></td>
												<td><%= invoice.status %></td></td>
											</tr>
											<% end %>										
										</tbody>
									</table>
			<% end %>
		</section>
		
	</article>
</div>