<div class="row">
	<article class="span12 dark data-block">
		<header>
			<h2><%= t("Customer") + " " + @customer.fullname %></h2>
			<ul class="data-header-actions">
				<li class=""><%= link_to t('Back'), customers_path %></li>
				<li class=""><%= link_to t('Edit'), edit_customer_path(@customer), :class => "btn btn-alt" %></li>
			</ul>
		</header>
		
		<section>
			<p>
			  <b><%= t('Full name') %>:</b>
			  <%= @customer.fullname %>
			</p>
			
			<p>
			  <b><%= t('Phone') %>:</b>
			  <%= @customer.phone %>
			</p>
			
			<p>
			  <b><%= t('Email') %>:</b>
			  <%= @customer.email %>
			</p>
			
			<p>
			  <b><%= t('Address') %>:</b>
			  <%= @customer.address %>
			</p>
			
			<p>
			  <b><%= t('Postalcode') %>:</b>
			  <%= @customer.postalcode %>
			</p>
			
			<p>
			  <b><%= t('City') %>:</b>
			  <%= @customer.city %>
			</p>
			
			<p>
			  <b><%= t('Vat') %>:</b>
			  <%= @customer.vat %>
			</p>
			
			
			<% if @customer.invoices.count > 0 %>
				<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th><%= t('Invoice type') %></th>
												<th><%= t('Invoice number') %></th>
												<th><%= t('Date') %></th>
												<th><%= t('Expiredate') %></th>
												<th><%= t('Amount') %></th>
												<th><%= t('Status') %></th>
											</tr>
										</thead>
										<tbody>
											<% @customer.invoices.each do |invoice| %>
											<tr>
												<td><%= invoice.invoicetype == 'Invoice' ? t('Invoice') : t('Quote') %></td>
												<td><%= invoice.invoicenumber %></td>
												<td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
												<td><%= invoice.expiredate.strftime("%d/%m/%Y") %></td>
												<td><%= number_to_currency(invoice.amount, locale: current_user.lang) %></td>
												<td><%= t(invoice.status) %></td></td>
											</tr>
											<% end %>										
										</tbody>
									</table>
			<% end %>
		</section>
		
	</article>
</div>