<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Invoicer - <%= params[:controller] + " " + params[:action] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- jQuery FullCalendar Styles -->
		<%= stylesheet_link_tag "jquery.fullcalendar" %>

		<!-- jQuery prettyCheckable Styles -->
		<%= stylesheet_link_tag "prettyCheckable" %>
		

		<!-- Styles -->
		<%= stylesheet_link_tag "theme-blue" %>

		

		
		<!-- JS Libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		
		<%= javascript_include_tag "modernizr" %>
		
		<%= javascript_include_tag "selectivizr" %>

		<%= javascript_include_tag "bootstrap.min" %>
		
		
		<script type="text/javascript">
			// google stuff
		</script>
</head>
<body>

		<!-- Full height wrapper -->
		<div id="wrapper">
			
			<!-- Main page header -->
			<header id="header" class="container">
				
				<h1><%= link_to "Invoicer", root_path %></h1>
				
				<% if user_signed_in? %>
					<%= render :partial => "shared/user_profile" %>
				<% end %>

				
					
					
				<%= render :partial => 'shared/navigation_menu' %>

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">
			
				<% if notice %>
				<div class="alert alert-success fade in">
								<button data-dismiss="alert" class="close">×</button>
								<%= notice %>
				</div>
				<% end %>
				
				<% if alert %>
				<div class="alert alert-error fade in">
								<button data-dismiss="alert" class="close">×</button>
								<%= alert %>
				</div>
				<% end %>
				
				<%= yield %>
				
				
			
			</div>
		<!-- /Full height wrapper -->
		


		


		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>Developed by <a href="http://www.palazzinifrancesco.com/" target="_blank">Francesco Palazzini</a></p>

				<!-- Footer nav -->
				<!-- ul>
					<li><a href="#" class="">Support</a></li>
					<li><a href="#" class="">Documentation</a></li>
					<li><a href="#" class="">API</a></li>
				</ul -->
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->
		

		
		
		
		
</body>
</html>



