<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Invoicer - <%= params[:controller] + " " + params[:action] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- jQuery FullCalendar Styles -->
		<%= stylesheet_link_tag "jquery.fullcalendar" %>

		<!-- jQuery prettyCheckable Styles -->
		<%= stylesheet_link_tag "prettyCheckable" %>
		

		<!-- Styles -->
		<%= stylesheet_link_tag "sangoma-blue" %>

		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="imgages/icons/apple-touch-icon-114-precomposed.html">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/apple-touch-icon-72-precomposed.html">
		<link rel="apple-touch-icon-precomposed" href="images/icons/apple-touch-icon-57-precomposed.html">
		
		<!-- JS Libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
		
		<%= javascript_include_tag "modernizr" %>
		
		<%= javascript_include_tag "selectivizr" %>

		<%= javascript_include_tag "bootstrap.min" %>
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top',
					container: 'body'
				});	

				// Tabs
				$('.demoTabs a, .demoTabs2 a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
					$('.fullcalendar').fullCalendar('render'); // Refresh jQuery FullCalendar for hidden tabs
				})

			});
		</script>
		
		<script type="text/javascript">
			// google stuff
		</script>
</head>
<body>

		<!-- Full height wrapper -->
		<div id="wrapper">
			
			<!-- Main page header -->
			<header id="header" class="container">
				
				

				<h1>
					<!-- Main page logo -->
					<a href="login.html" class="brand">Sangoma</a>
					
					<!-- Main page headline -->
					<span>A flat Bootstrap admin template</span>
				</h1>
				
				
				<%= render :partial => "shared/user_profile" %>
				

				
					
					
				<%= render :partial => 'shared/navigation_menu' %>

					

				

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">
			
				<% if notice %>
				<div class="alert alert-success fade in">
								<button data-dismiss="alert" class="close">×</button>
								<%= notice %>
				</div>
				<% end %>
				
				<%= yield %>
				
				
			
			</div>
		<!-- /Full height wrapper -->
		


		


		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.walkingpixels.com/">Walking Pixels</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="#" class="">Support</a></li>
					<li><a href="#" class="">Documentation</a></li>
					<li><a href="#" class="">API</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->
		

		
		
		
		
</body>
</html>



