<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Invoicer - <%= params[:controller] + " " + params[:action] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
		<meta name="author" content="Walking Pixels | www.walkingpixels.com">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- jQuery FullCalendar Styles -->
		<%= stylesheet_link_tag "jquery.fullcalendar" %>

		<!-- jQuery prettyCheckable Styles -->
		<%= stylesheet_link_tag "prettyCheckable" %>
		

		<!-- Styles -->
		<%= stylesheet_link_tag "sangoma-blue" %>

		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="imgages/icons/apple-touch-icon-114-precomposed.html">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/apple-touch-icon-72-precomposed.html">
		<link rel="apple-touch-icon-precomposed" href="images/icons/apple-touch-icon-57-precomposed.html">
		
		<!-- JS Libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>

		<script src="js/libs/modernizr.js"></script>
		<script src="js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top',
					container: 'body'
				});	

				// Tabs
				$('.demoTabs a, .demoTabs2 a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
					$('.fullcalendar').fullCalendar('render'); // Refresh jQuery FullCalendar for hidden tabs
				})

			});
		</script>
		
		<script type="text/javascript">
			// google stuff
		</script>
</head>
<body>

		<!-- Full height wrapper -->
		<div id="wrapper">
			
			<!-- Main page header -->
			<header id="header" class="container">
				
				

				<h1>
					<!-- Main page logo -->
					<a href="login.html" class="brand">Sangoma</a>
					
					<!-- Main page headline -->
					<span>A flat Bootstrap admin template</span>
				</h1>
				
				
				<%= render :partial => "shared/user_profile" %>
				

				
					
					
				<%= render :partial => 'shared/navigation_menu' %>

					

				

			</header>
			<!-- /Main page header -->

			<!-- Main page container -->
			<section class="container" role="main">
			
				<% if notice %>
				<div class="alert alert-success fade in">
								<button data-dismiss="alert" class="close">×</button>
								<%= notice %>
				</div>
				<% end %>
				
				<%= yield %>
				
				
			
			</div>
		<!-- /Full height wrapper -->
		


		


		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.walkingpixels.com/">Walking Pixels</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="#" class="">Support</a></li>
					<li><a href="#" class="">Documentation</a></li>
					<li><a href="#" class="">API</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->
		
		
		
		
		<!-- Bootstrap scripts -->
		<%= javascript_include_tag "bootstrap.min" %>

		<!-- jQuery FullCalendar -->
		<script src="js/plugins/fullCalendar/jquery.fullcalendar.min.js"></script>
		
		<script>
			$(document).ready(function() {
			
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();
				$('.full-calendar-demo').fullCalendar({
					header: {
						left: 'today month,basicWeek',
						center: 'title',
						right: 'prev,next'
					},
					buttonText: {
						prev: '<span class="icon-chevron-left"></span>',
						next: '<span class="icon-chevron-right"></span>'
					},
					editable: true,
					events: [
						{
							title: 'All Day Event',
							start: new Date(y, m, 1)
						},
						{
							title: 'Long Event',
							start: new Date(y, m, d-5),
							end: new Date(y, m, d-2),
							className: 'event-red'
						},
						{
							id: 999,
							title: 'Repeating Event',
							start: new Date(y, m, d-3, 16, 0),
							allDay: false,
							className: 'event-blue'
						},
						{
							id: 999,
							title: 'Repeating Event',
							start: new Date(y, m, d+4, 16, 0),
							allDay: false,
							className: 'event-green'
						},
						{
							title: 'Meeting',
							start: new Date(y, m, d, 10, 30),
							allDay: false,
							className: 'event-orange'
						},
						{
							title: 'Lunch',
							start: new Date(y, m, d, 12, 0),
							end: new Date(y, m, d, 14, 0),
							allDay: false,
							className: 'event-purple'
						},
						{
							title: 'Birthday Party',
							start: new Date(y, m, d+1, 19, 0),
							end: new Date(y, m, d+1, 22, 30),
							allDay: false,
							className: 'event-turquoise'
						},
						{
							title: 'Walking Pixels website',
							start: new Date(y, m, 28),
							end: new Date(y, m, 29),
							url: 'http://www.walkingpixels.com/',
							className: 'event-dark'
						}
					]
				});
				
			});
		</script>

		<!-- jQuery Flot Charts -->
		<!--[if lte IE 8]>
			<script language="javascript" type="text/javascript" src="js/plugins/flot/excanvas.min.js"></script>
		<![endif]-->
		<script src="js/plugins/flot/jquery.flot.min.js"></script>
		<script src="js/plugins/flot/jquery.flot.resize.min.js"></script>
		
		<script>
			$(document).ready(function() {
				
				// Demo #1
				// we use an inline data source in the example, usually data would be fetched from a server
				var data = [], totalPoints = 300;
				function getRandomData() {
					if (data.length > 0)
						data = data.slice(1);
				
					// do a random walk
					while (data.length < totalPoints) {
						var prev = data.length > 0 ? data[data.length - 1] : 50;
						var y = prev + Math.random() * 10 - 5;
						if (y < 0)
							y = 0;
						if (y > 100)
							y = 100;
						data.push(y);
					}
				
					// zip the generated y values with the x values
					var res = [];
					for (var i = 0; i < data.length; ++i)
						res.push([i, data[i]])
					return res;
				}
				
				// setup control widget
				var updateInterval = 30;
				$("#updateInterval").val(updateInterval).change(function () {
					var v = $(this).val();
					if (v && !isNaN(+v)) {
						updateInterval = +v;
					if (updateInterval < 1)
						updateInterval = 1;
					if (updateInterval > 2000)
						updateInterval = 2000;
					$(this).val("" + updateInterval);
					}
				});
				
				// setup plot
				var options = {
					series: {
						shadowSize: 0,
						color: '#c0392b',
						lines: {
							fill: true
						}
					}, // drawing is faster without shadows
					yaxis: { min: 0, max: 100 },
					xaxis: { show: false },
					grid: { backgroundColor: '#ffffff', borderColor: 'transparent' },
				};
				var plot = $.plot($("#demo-1"), [ getRandomData() ], options);
				
				function update() {
					plot.setData([ getRandomData() ]);
					// since the axes don't change, we don't need to call plot.setupGrid()
					plot.draw();
					setTimeout(update, updateInterval);
				}
				
				update();
			
			});
		</script>

		
		
		
		
</body>
</html>



